body {
    min-height: auto;
}

main {
    max-height: 100vh;
    max-width: 2000px;
    overflow: hidden;
    margin: auto;
}

button, a, .logo, .right {
    cursor: url('/icons/pointer-green.svg'), pointer;
}

header {
    .logo {
        transform: translateY(0%);
        clip-path: inset(0 0 0% 0);
    }

    .right {
        transform: translateY(0px);
        clip-path: inset(0 0 0% 0);
    }
}

.loading-section {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-auto-rows: 267px;
    position: relative;
    top: -100px;
    width: 100%;

    .form-1 {
        width: 120%;
        height: 800px;
        grid-column: 1/4;
        grid-row: 1/4;
        background: var(--green-spot);
        border-radius: 0 0 20% 0;
        position: relative;
        border-radius: 0% 0% 32% 0% / 33% 34% 29% 27%;
        overflow: hidden;

        
        .fill {
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--green-bright);
            transform: translate(38%, 64.5%);
            clip-path: inset(2.1% 0% 22% 16.4% round 228px 0);
        }

    }

    .form-2 {
        grid-column: 3;
        grid-row: 3/6;
        width: 100vw;
        height: 100%;
        max-height: 903px;
        background: var(--dark-green);
        border-radius: 200px 0 0 0;
        position: relative;
        top: -1px;
        left: 1px;
        z-index: -1;

        &::before {
            content: "";
            width: 50%;
            height: 100%;
            position: absolute;
            top: 60px;
            left: -24px;
            background: var(--dark-green);
            transform: rotate(4deg);
            border-radius: 200px 0 0 0;
            z-index: -1;
        }
    }

    // Landing brands swiper
    .swiper {
        width: 70%;

        img {
            position: relative;
            width: 10vw;
            height: 100px;
        }
        
        img:nth-of-type(odd){
            position: relative;
            top: -50px;
        }
        .swiper-slide { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 300px;
        }
    }

    
    h1 {
        position: absolute;
        top: 0;
        left: 0;
        grid-column: 1/4;
        grid-row: 2/3;
        font-weight: 400;
        max-width: 500px;
        transform: translate(13vw, 0vw);
        color: var(--dark-green);
    }
}



.iniciatives {
    grid-column: 5/7;
    grid-row: 3;
    color: var(--green-light);
    max-width: 500px;
    position: relative;
    left: -79px;
    top: 34px;
    transform: translate(0, 50px);

    h2 {
        font-size: clamp(24px, 3vw, 54px);
        margin-bottom: 15px;
    }

    .go-back {
        display: flex;
        gap: 20px;
        text-decoration: none;
        color: var(--green-light);
        cursor: url("/icons/pointer-green.svg"), pointer;
        img {
            width: clamp(24px, 2.5vw, 47px);
            height: clamp(24px, 2.5vw, 47px);
        }
    }

    
}



@media (min-width: 1601px) {

    .loading-section {
        grid-template-columns: repeat(6, 372px);
        grid-auto-rows: 266px;
    
        .form-2 {
            top: 0px;
            left: 1px;
        }
    
        .form-2::before {
            left: -28px;
        }
    }
}


@media (max-width: 1200px){
    .loading-section {
        grid-template-columns: repeat(6, 190px);
        grid-auto-rows: 250px;

        h1 {
            transform: translate(13vw, -50px);
            font-size: 60px;
        }

        .form-1 {
            height: 600px;

            .fill {
                transform: translate(37.6%, 56.1%);
                clip-path: inset(2.1% 0% 22% 16.7% round 199px 0);
            }
        }

        .form-2 {
            grid-row: 3/5;
            transform: translateY(-150px);
            height: 300%;

            &::before {
                top: 17px;
                left: -24.5px;
            }
        }
    }

    .iniciatives {
        grid-column: 5;
        grid-row: 2;
        position: relative;
        left: 0px;
        top: 100px;
    }
}


@media (max-width: 1000px){
    .loading-section {
        grid-template-columns: repeat(6, 150px) !important;
    }
}


@media (max-width: 800px){
    .iniciatives {
        max-width: 150px;
    }
}



@media (max-width: 768px){
    .loading-section {
        grid-template-columns: repeat(6, 250px);

        h1 {
            font-size: clamp(42px, 10vw, 54px);
            max-width: 250px;
            top: 100px;
        }

        .form-1 {
            height: 600px;
            top: 50px;

           .fill {
            left: -100px;
            clip-path: inset(2.36% 0% 22% 16.4% round 74px 0);
           }
        }

        .form-2 {
            grid-row: 2/6;
            width: 728px;
            height: 303px;
            max-height: 903px;
            background: var(--dark-green);
            border-radius: 74px;
            position: absolute;
            top: 300.5px;
            left: -111px;

            &::before {
                display: none;
            }
        }
    }

   .iniciatives {
        grid-column: 3/6;
        grid-row: 2;
        color: var(--green-light);
        top: 176px;
        left: 0;
        position: absolute;
        right: 300px;
   }
}


@media (max-width: 426px){
    .loading-section {
        grid-template-columns: repeat(2, 250px);

        h1 {
            font-size: clamp(42px, 10vw, 54px);
            max-width: 250px;
            top: 100px;
        }

        .form-1 {
            height: 600px;
            top: 50px;

           .fill {
            left: -200px;
            clip-path: inset(2.36% 0% 22% 16.4% round 74px 0);
           }
        }

        .form-2 {
            grid-row: 2/6;
            width: 728px;
            height: 303px;
            max-height: 903px;
            background: var(--dark-green);
            border-radius: 74px;
            position: absolute;
            top: 300.5px;
            left: -211px;

            &::before {
                display: none;
            }
        }
    }

   .iniciatives {
        grid-column: 2/5;
        left: auto;
        right: 300px;
   }
}