body {
    background: var(--burgundy-extra-light);
    min-height: auto;
    & > * {
        cursor: url('/icons/cursor-burgundy.svg'), pointer;
    }
}

button, a, .logo, .right {
    cursor: url('/icons/pointer-burgundy.svg'), pointer;
}


header {
    .logo {
        transform: translateY(0%) !important;
        clip-path: inset(0 0 0% 0) !important;
    }

    .right {
        transform: translateY(0px) !important;
        clip-path: inset(0 0 0% 0) !important;
        color: var(--burgundy-dark) !important;

        .menu .line,
        .menu .bubble,
        .language {
            background: var(--burgundy-dark) !important;
        }
    }
}

main {
    min-height: 100vh;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 800px;
    color: var(--burgundy-dark);
    margin: auto;
    position: relative;
    clip-path: inset(0 0 0 100%);
    transform: translateX(-300px);

    .shape-1 {
        background: url('/karjera/darbo-skelbimai-shape.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -50px;
        left: 0px;
        width: 1361px;
        height: 793px;
        z-index: -1;
    }

    .content {
        color: var(--burgundy-dark);
        grid-column: 1;
        font-weight: 400;
        grid-column: 1;
        grid-row: 1;
        transform: translate(295px, 258px);
        max-width: 600px;

        h1 {
            font-weight: 400;
            margin-bottom: 50px;
        }
    }
}


.section-jobs {
    color: var(--burgundy-dark);
    margin-top: 150px;

   
    .jobs-heading {
        display: grid;
        grid-template-columns: 150px 1fr 150px 150px 100px;
        width: 90vw;

        h3 {
            grid-column: 2;
        }

        p:nth-of-type(1){
            grid-column: 3;
        }
        margin-bottom: 50px;
    }

    .jobs-main {
        grid-row: 2;

        .job {
            display: grid;
            grid-template-columns: 150px 1fr 150px 150px 100px;
            align-items: center;
            width: 90vw;
            min-height: 130px;
        }

        .job-title {
            grid-column: 2;
        }

        .job-logo {
            width: 70px;
        }

        .job-link {
            width: clamp(40px, 6vw, 61px);
        }

        hr {
            grid-column: 2/6;
            border: none;
            height: 1px;
            background: var(--burgundy-dark);
        }

       .more {
            display: block;
            color: var(--burgundy-spot);
            text-decoration: underline;
            text-align: center;
            margin: 30px auto;
       }

       .no-job {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
       }

       .no-job-title {
        grid-row: 1;
        grid-column: 3/6;
        }

       .no-job-description {
            grid-row: 2;
            grid-column: 3/6;
            margin: 50px 0;
       }

   

       .button-outline {
        grid-row: 3;
        grid-column: 3;
        border-color: var(--burgundy-dark);
        color: var(--burgundy-dark);
        width: 100px;

        &:hover {
            background: var(--burgundy-dark);
            color: var(--burgundy-extra-light);
        }
    }

    }
}

.other-jobs {
    display: grid;
    grid-template-columns: 150px 1fr 150px 150px 100px;
    color: var(--burgundy-dark);
    margin-top: 100px;

    .content {
        grid-column: 2;

        h2 {
            margin-bottom: 30px;
        }
    }
}



footer {
    color: var(--burgundy-extra-light) !important;
    margin-top: 150px;
    
    a {
        color: var(--burgundy-extra-light) !important;
    }

    .social {
        a:before {
            background: var(--burgundy-extra-light) !important;
        }
    }


    .copywrites {
        color: var(--burgundy-extra-light) !important;
        a {
            color: var(--burgundy-extra-light) !important;
            cursor: url("/icons/pointer-burgundy.svg"), pointer !important;

             &::before {

                background:  var(--burgundy-extra-light) !important;
            }
        }
    }
}

@media (max-width: 1024px){
        .other-jobs {
            .content {
                grid-column: 2/5;
            }
        }
}


@media (max-width: 768px){
   .section-1 {
    grid-template-rows: 463px;
    .shape-1 {
        width: 779px;
        height: 500px;
        left: auto;
        right: -5px;
    }

    .content {
        transform: translate(120px, 200px);
    }
   }

   .section-jobs {
    margin-top: 25px;
    width: 90%;
    margin: auto;

    .jobs-heading {
        grid-template-columns: repeat(3, 1fr);

        h3 {
            grid-column: 1/4;
            margin-bottom: 15px;
        }

        p:nth-of-type(1) {
            grid-column: 1;
        }

    }

    .jobs-main .job {
        grid-template-columns: repeat(3, 1fr);

        .job-title, hr {
            grid-column: 1/4;
            margin-bottom: 30px;
        }

        .job-city, .job-logo, .job-link {
            grid-row: 2;
            margin-bottom: 15px;
        }
    }
   }
   
  

   .other-jobs {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    .content {
        grid-column: 1/4;
   }
   }
}

@media (max-width: 768px){
    .section-1 {
     .content {
         transform: translate(30px, 200px);
     }
    }
 }
 

