.body-overlay {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Changed to viewport height */
}

.gallery {
    display: grid;
    grid-template-rows: 500px 500px;
    width: 100vw;
    grid-row: 3;
    position: relative;
    max-width: 2000px;
    margin: auto;

    .icon-overlay {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        pointer-events: none;
    }

    .gallery-shape {
        width: 640px;
        height: 1300px;
        position: absolute;
        right: 760px;
        z-index: 1;
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            top: 16.6%;
            left: -250%;
            width: 300%;
            height: 200px;
            background: var(--green-light);
            transform: rotate(-4deg);
            z-index: -1;
        }
    }

    .left {
        position: absolute;
        top: 350px;
        right: 960px;
        width: 80%;
        height: 809.95px;

        .icon-overlay {
            left: 60%;
        }
        

          &.active {
                position: fixed;
                max-width: 1200px;
                transform: translate(0);
                left: 0px;
                right: 0px;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 2;
                animation-name: expande; /* Specify the name of the animation */
                animation-duration: 0.3s;

                & > *:not(.icon-overlay) {
                    width: 100%;
                    height: 90%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    border-radius: 56px;
                }
            }

        & > *:not(.icon-overlay) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: url("/icons/pointer-green.svg"), pointer;
        }
    }

    .right {
        position: absolute;
        top: 20px;
        right: 0;
        width: 874px;
        border-radius: 93px 0 0 0;
        // overflow: hidden;

        .right-image {
            transform: rotate(-4deg);
            width: 130%;
            height: 370px;
            position: relative;
            top: -5.1px;
            right: -5%;
            transition: 0.3s;

            @keyframes expande {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 80%;
                    height: 600px;
                }
            }

            &.active {
                position: fixed;
                max-width: 1200px;
                transform: translate(0);
                left: 0px;
                right: 0px;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 2;
                animation-name: expande; /* Specify the name of the animation */
                animation-duration: 0.3s;

                & > *:not(.icon-overlay) {
                    width: 100%;
                    height: 90%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    border-radius: 56px;
                }
            }

            & > *:not(.icon-overlay) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: url("/icons/pointer-green.svg"), pointer;
                transition: 0.3s;
            }
        }
    }
    
    @media (max-width: 1600px){
        .left {
            position: absolute;
            top: 332px;
            right: 500px;
            width: 68%;
            height: 845.95px;
        }

       .right {
            width: 500px;
            top: 24px;

            .right-image {
                top: -4.5px;
            }
       }

       .gallery-shape {
        right: 386px;
        top: -11.78px;
       }
    }
}


.swiper.gallery-swiper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 74, 78, 0);
    user-select: none;
    display: none;
    transition: 1s;

    
    .video-play-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: url('/naujienos/video-icon.svg');
        background-size: contain;
        width: clamp(70px, 6vw, 100px);
        height: clamp(70px, 6vw, 100px);
    }

    .video-play-icon.hidden {
        visibility: hidden;
    }



    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(0.7);
        transition: 0.3s;
        z-index: 1002; /* Ensure they are above the swiper content */
        cursor: url("/icons/pointer-green.svg"), pointer;
        color: var(--green-light);
    }

    .swiper-button-prev {
        left: calc((100% - 1200px) / 2 - 30px);
    }

    .swiper-button-next {
        right: calc(50% - 600px - 29px); /* Half of viewport - half of slide width - offset */
    }
    

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        transform: translateY(-50%) scale(0.8);
    }

    .swiper-button-prev:after {
        content: url("/naujienos/swiper-prev-icon.svg"); 
    }
    
    .swiper-button-next:after {
        content: url("/naujienos/swiper-next-icon.svg"); 
    }

    .swiper-pagination-bullet {
        background: var(--green-light);
        width: 15px;
        height: 15px;
        position: relative;
        bottom: 50px;
        transition: 0.3s;
    }
    .swiper-pagination-bullet-active {
        transform: scale(1.3);
    }

    .swiper-slide-counter {
        position: absolute;
        top: 2.5vw;
        right: 20vw;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 54px;
    }

    .swiper-exit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: var(--green-light);
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1001;
        cursor: url("/icons/pointer-green.svg"), pointer;

        .line {
            width: 30px;
            height: 1px;
            background: var(--green-light);
        }

        svg {
            width: 40px;
            height: 40px;
        }

        svg:hover path {
            fill: var(--dark-green);
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center; /* Center content vertically */
        max-width: 1200px; /* Width of each slide */
        width: 80%;

        video, img {
            width: 100%;
            height: 60%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 56px;
        }
    }

    
        /* Adjust for smaller screens */
        @media (max-width: 1400px) {
            .swiper-button-prev {
                left: 80px; /* or any appropriate value */
            }
            .swiper-button-next {
                right: 80px; /* or any appropriate value */
            }
        }
}

.swiper.gallery-swiper.show {
    display: block;
}


// Soc atsakmoybė
.socialine-atsakomybe .gallery {
    .left > *, .right .right-image > * {
        cursor: url('/icons/pointer-blue.svg'), pointer;
    }

    .gallery-shape::before {
        background: var(--blue-extra-light);
    }
}

.socialine-atsakomybe .swiper.gallery-swiper  {
    background: rgb(21, 39, 106, 0.8);  

    .swiper-button-prev:after {
        content: url("/tvarumas/swiper-prev-icon.svg");
    }

    .swiper-button-next:after {
        content: url("/tvarumas/swiper-next-icon.svg");
    }

    .swiper-slide-counter {
        color: var(--blue-extra-light);
    }

    .swiper-exit {
        color: var(--blue-extra-light);
        cursor: url("/icons/pointer-blue.svg"), pointer;

        .line {
            color: var(--blue-extra-light);
        }
    }

    .video-play-icon {
        background: url('/tvarumas/video-icon.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

   
}

// Karjera
.karjera .gallery {
    .left > *, .right .right-image > * {
        cursor: url('/icons/pointer-burgundy.svg'), pointer;
    }

    .gallery-shape::before {
        background: var(--burgundy-extra-light);
    }
}
.karjera .swiper.gallery-swiper  {
    background: rgb(116, 53, 87, 0.8);

    .swiper-button-prev:after {
        content: url("/karjera/swiper-prev-icon.svg");
    }

    .swiper-button-next:after {
        content: url("/karjera/swiper-next-icon.svg");
    }

    .swiper-slide-counter {
        color: var(--blue-extra-light);
    }

    .swiper-exit {
        color: var(--burgundy-extra-light);
        cursor: url("/icons/pointer-burgundy.svg"), pointer;

        .line {
            color: var(--burgundy-extra-light);
        }
    }

    .video-play-icon {
        background: url('/karjera/video-icon.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

   
}
