body {
    background: var(--green-light);
    min-height: auto;
    & > * {
        cursor: url('/icons/cursor-green.svg'), pointer;
    }
}

button, a, svg, .logo, .right {
    cursor: url('/icons/pointer-green.svg'), pointer;
    color: var(--dark-green);
}

header {
    .logo {
        transform: translateY(0%) !important;
        clip-path: inset(0 0 0% 0) !important;
    }

    .right {
        transform: translateY(0px) !important;
        clip-path: inset(0 0 0% 0) !important;
    }
}


main {
    min-height: 100vh;
    width: 100%; /* Ensure main takes full width */
    max-width: 2560px; /* Max width for larger screens */
    margin: auto;
    overflow: hidden;
}

.news-content {
    display: grid;
    grid-template-columns: repeat(6, minmax(230px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    color: var(--dark-green);
    max-width: 2043px;
    margin: auto;
    position: relative;
    margin-bottom: 50px;

    .category {
        text-decoration: underline;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        width: 70vw;
        font-weight: 400;
        grid-column: 2/6;
        grid-row: 2;
        color: var(--dark-green);
        opacity: 0;
        clip-path: inset(0 0 0 100%);
        transform: translate(-500px, 0);

        .button-left {
            margin-bottom: 30px;
        }

        h1 {
            font-weight: normal;
            margin-bottom: 100px;
        }

        h2 {
            margin: 50px 0;
        }

        h3 {
            margin-bottom: 30px;
        }

        .intro {
            font-size: clamp(16px, 1.2vw, 25px);
        }

        p, ul {
            font-size: clamp(14px, 1vw, 21px);
            margin-bottom: 30px;
            list-style-position: inside;
        }
    }
}

@media (max-width: 1025px){
    .news-content .content {
        grid-column: 1/6;
        margin-left: 50px;
        width: 85vw;
    }
}