body {
    background: var(--blue-extra-light);
    min-height: auto;
    & > * {
        cursor: url('/icons/cursor-blue.svg'), pointer;
    }
}

button, a, .logo, .right {
    cursor: url('/icons/pointer-blue.svg'), pointer;
}


header {
    mix-blend-mode:normal;
    .logo {
        transform: translateY(0%);
        clip-path: inset(0 0 0% 0);
    }

    .right {
        transform: translateY(0px);
        clip-path: inset(0 0 0% 0);
        color: var(--blue-dark);

        .menu .line,
        .menu .bubble,
        .language {
            background: var(--blue-dark);
        }
    }
}

main {
    min-height: 100vh;
    max-width: 2560px;
    margin: auto;
    overflow: hidden;
}

.section-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 808px;
    color: var(--blue-extra-light);

    .content {
        font-weight: 400;
        grid-column: 1;
        grid-row: 1;
        max-width: 500px;
        transform: translate(300px, 200px);
        right: 1116px;

        h1 {
            font-weight: 400;
        }
    }

    .shape-1 {
        position: absolute;
        left: 105px;
        width: 1267.87px;
        height: 807.34px;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            top: -50px;
            left: -60%;
            width: 100%;
            height: 100%;
            background: var(--blue-dark);
            transform: rotate(-4deg);
            z-index: -1;
        }
    }
}

.news {
    display: grid;
    grid-template-columns: repeat(6, minmax(230px, 1fr));
    grid-auto-rows: minmax(420px, auto);
    color: var(--blue-dark);
    max-width: 2560px;
    margin: auto;
    position: relative;


    h1 {
        font-weight: normal;
        grid-column: 2/5;
        grid-row: 1;
        align-self: end;
     }

    .content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(50px, auto);
        width: 100%;
        font-weight: 400;
        right: 1116px;
        color: var(--blue-dark);
        column-gap: 50px;

        h2 {
            margin: 50px 0;
        }

        .categories {
            display: flex;
            gap: 10px;
            grid-column: 3;
            align-self: end;
            margin-bottom: 50px;
        }
    }

    article {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, 1fr);
        grid-column: span 4;
        gap: 50px;
        width: 100vw;

        &:first-of-type {
            .article-image {
                border-radius: 0 200px 0 0;
                overflow: hidden;
            }
        }

        .article-category {
            left: 0 !important;
            align-self: start;
        }
        

        .article-image {
            grid-column: 1/4;
            height: 143%;
            width: 86%;
            max-height: 550px;
            object-fit: cover;
            position: relative;
            top: -100px;
        
            img {
                width: 130%;
                object-fit: contain; /* Changed from cover to contain */
            }
        
            .shape-3 {
                background: url('/tvarumas/partneriu-interviu-shape-2.svg');
                position: absolute;
                top: -43px;
                left: -10px;
                width: 877px;
                height: 276px;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
            }
        }

        .article-content {
            grid-column: 4/6;
            width: 100%;
            max-width: 800px;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 30px; 
        }

        .button-outline {
            border-color: var(--blue-dark);
            color: var(--blue-dark);

            &:hover {
                background: var(--blue-dark);
                color: var(--blue-extra-light);
            }
        }
    }

    article:first-of-type img {
        border-radius: 0 115px 0 0;
        transform: translate(0, 10px);
    }

    article:last-of-type img {
        border-radius: 0 0 300px 0;

        &::before {
            content: ""
        }
    }

    .more {
        grid-column: 3;
        grid-row: 4;
        margin: 30px 0;
        color: var(--blue-dark);
        &:hover {
            text-decoration: none;
            background: var(--blue-dark);
            color: var(--blue-extra-light);
        }
    }
}






footer {
    color: var(--blue-extra-light) !important;
    margin-top: 150px;

    a {
        color: var(--blue-extra-light) !important;
    }

    .social {
        a:before {
            background: var(--blue-extra-light) !important;
        }
    }


    .copywrites {
        color: var(--blue-extra-light) !important;
        a {
            color: var(--blue-extra-light) !important;
            cursor: url("/icons/pointer-blue.svg"), pointer !important;

             &::before {

                background:  var(--blue-extra-light) !important;
            }
        }
    }
}

@media (min-width: 2000px) {
    .section-1 {

        h1 {
            right: auto;
        }

        .content {
            right: auto;
            left: 230px;
        }
    }

    .section-2 .foto-1 {
        right: auto;
        left: 1716px;
        width: 33%;
    }
}


@media (max-width: 1600px) {

    .section-1 {
        .shape-1 {
            left: -330px;
        }
    }

    .news .content {
        gap: 0;
    }

    .news article {
        gap: 0;

        .article-image {
            width: 80%;

            .shape-3 {
                width: 732px;
            }
        }
    }
}



@media (min-width: 1601px) {
    .news .content {
        grid-template-columns: repeat(4, 250px);

        article {
            grid-template-columns: repeat(4, 250px);

            .article-image img {
                width: 100%;
            }
        }

        .more {
            grid-column: 4;
        }
    }
}


@media (max-width: 1025px){
    header {
        .right {
            color: var(--blue-extra-light);
            .menu .line,
            .menu .bubble,
            .language {
                background: var(--blue-extra-light);
                color: var(--blue-dark);
            }
        }
    }

    article {
        grid-template-columns: repeat(4, 250px);

        &:not(:first-of-type) .article-image{
            margin-top: -100px;
        }
    }

}

@media (max-width: 769px){
    .section-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 700px;
        width: 100%;
        min-height: 600px;
  
        .shape-1 {
          height: 595px;
          width: 500px;
          left: auto;
          right: 200px;
  
          &::before {
              height: 100%;
              width: 100%;
              background: var(--blue-dark);
          }
  
          &::after {
              display: none;
          }
  
          svg {
              display: none;
            }
        }
        
        .partneriu-interviu-mobile {
          background: url("/tvarumas/partneriu-interviu-mobile.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 598px;
          height: 540px;
          position: absolute;
          right: -200px;
        }

        .content {
            grid-column: 1;
            width: 90%;
            left: 0px;
            right: 0px;
            margin: 30px auto;
            transform: translate(0, 100px);
            
            .button {
                background: var(--dark-green);
                color: var(--green-light);
            }
          }
    } 
    
    .news {
        margin-top: -150px;
        .content {
            grid-template-columns: 1fr;

            article {
                grid-template-columns: 1fr;
                grid-auto-rows: auto;

                &:not(:first-of-type) .article-image{
                    position: relative;
                    margin-top: 0px;
                }

                &:first-of-type .article-image,
                &:last-of-type .article-image  {
                    border-radius: 0;
                    

                    img {
                        border-radius: 0;
                    }
                }
                .article-image {
                    width: 120%;
                    transform: rotate(-4deg);
                    left: -10%;
                    height: 250px;
                    top: 0;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    .shape-3 {
                        display: none;
                    }
                }
            }
        }

        .content {
            article {
                .article-content {
                    grid-column: span 3;
                    position: relative;
                    left: 0;
                    width: 90%;
                    margin: 50px auto;
                    
                    .button-outline {
                        transform: translateX(20px);
                    }
                }
            }

            .more:last-of-type {
                grid-column: 1;
                transform: translateX(20px);
            }
        }
    }
}