body {
    background: var(--blue-extra-light);
    min-height: auto;
    & > * {
        cursor: url('/icons/cursor-blue.svg'), pointer;
    }
}

button, a, .logo, .right {
    cursor: url('/icons/pointer-blue.svg'), pointer;
}


header {
    .logo {
        transform: translateY(0%);
        clip-path: inset(0 0 0% 0);
    }

    .right {
        transform: translateY(0px);
        clip-path: inset(0 0 0% 0);
        color: var(--blue-dark);

        .menu .line,
        .menu .bubble,
        .language {
            background: var(--blue-dark);
        }
    }
}

main {
    min-height: 100vh;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}


header {
    .logo {
        transform: translateY(0%);
        clip-path: inset(0 0 0% 0);
    }

    .right {
        transform: translateY(0px);
        clip-path: inset(0 0 0% 0);
        color: var(--blue-dark);

        .menu .line,
        .menu .bubble,
        .language {
            background: var(--blue-dark); 
        }
    }
}


.section-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 600px 1300px;
    color: var(--blue-dark);
    clip-path: inset(0 0 0 100%);
    transform: translateX(-300px);


    @media (max-width: 1000px){
        grid-template-columns: repeat(4, 300px);
    }


    .content {
        width: 70%;
        grid-column: 1/4;
        grid-row: 2/4;
        transform: translate(13vw, -400px);

        h1 {
            font-size: clamp(50px, 6vw, 128px);
            margin-bottom: 30px;
            font-weight: 400;
        }

        p {
            font-size: clamp(14px, 1.3vw, 25px);
            margin-bottom: 30px;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 50px;
            border-radius: 0px 0px 26.5px 0px;
            background: var(--blue-dark, #15276A);
            color: var(--blue-light);
            font-size: 14px;
            border: none;
            box-shadow: 0 0 2px black;
            transition: 0.3s;
        }

        .button:hover {
            border-radius: 0;
        }

    }

    .shape-1 {
        background-position: top;
        width: 1623.882px;
        height: 1839px;
        position: absolute;
        top: -13px;
        left: 0px;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            top: -22px;
            right: -42%;
            width: 100%;
            height: 61.5%;
            background: var(--blue-light);
            transform: rotate(-2deg);
        }
    }
}


.section-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    margin-top: -800px;

    .content-top {
        color: var(--blue-extra-light);
        position: relative;
        left: 200px;
        display: flex;

        p {
            position: relative;
            font-size: clamp(20px, 2vw, 30px);
            top: 100px;
            width: 300px;
        } 

        .swiper {
            grid-column: 3;
            width: 80vw;
            height: 300px;
            position: relative;
            top: 20px;
            left: -20px;
    
            svg {
                position: relative;
                width: clamp(120px, 12vw, 140px);
                height: 150px;
                top: 0px;
            }
    
            .swiper-slide {
                flex-direction: column;
                height: 200px;
            }
    
            .swiper-slide:nth-of-type(even) svg, 
            .swiper-slide-duplicate:nth-of-type(even) svg {
                top: 100px;
            }
        }
    }

    .content-bottom {
        display: flex;
        justify-content: space-around;
        grid-row: 2;
      

        .icon {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            color: var(--blue-dark);

            img,svg {
                width: clamp(40px, 4vw, 81px);
            }
        }

        .white-icon {
            text-align: center;
            width: 450px;
            color: var(--blue-extra-light);
        }

        .blue-icon {
            position: relative;
            left: -100px;
        }

       
    }
}


.section-3 {
    color: var(--blue-dark);
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .button {
        background: var(--blue-dark);
        color: var(--blue-extra-light);
    }

    .content-right {
        p {
            margin-bottom: 50px;
        }
    }
}

.gallery-section {
    pointer-events: none;
}

.tech-education, .sveika-gyvensena, .bendruomenes-projektai {
    position: relative;
    top: 150px;
    background: var(--blue-extra-light);
    color: var(--blue-dark);
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: -150px;
        width: 120%;
        height: 200px;
        background: var(--blue-extra-light);
        z-index: -1;
        transform: rotate(-4deg);
    }

    .image-shape {
        width: 30vw;
        height: 600px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 200px 0 0 200px;
        object-fit: cover;
        opacity: 0;
        z-index: 1;
        transition: 0.3s;

        &.visible {
            opacity: 1; 
          }
    }

    .content {
        width: 80%;
        margin: auto;

        h2 {
            margin: 70px 0;
        }

        .projects {
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-template-rows: minmax(160px, 1fr);
            position: relative;
            left: -200px;

            .left {
                h2 {
                    color: var(--blue-light);
                    transform: rotate(-90deg) translateX(-50px);
                }
            }

            .right {
                max-height: 1000px;
                overflow-y: auto;
                position: relative;
    
    
                &::-webkit-scrollbar {
                    width: 1em;
                    border: none;
                    outline: none;
                  }
                   
                  &::-webkit-scrollbar-track {
                    background: var(--blue-light);
                    border-radius: 20px;
                  }
                   
                  &::-webkit-scrollbar-thumb {
                    background: var(--blue-dark);
                    border-radius: 20px;
                  }

                .project {
                    position: relative;
                    width: 95%;
                    padding-bottom: 50px;
                    opacity: 1;
                    transition: 0.3s;
                    
                    .project-title {
                        border-bottom: 1px solid var(--blue-dark);
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        position: relative;
                    }
                    
                    .project-description {
                        max-width: 800px;
                        width: 90%;
                    }
        
                    .project-link {
                        position: absolute;
                        top: 2.2vw;
                        right: -5px;
        
                        img {
                            width: clamp(40px, 6vw, 81px);
                        }
                    }
                }
            }
        }


        .projects:hover .project {
            opacity: 0.3; /* Reduce opacity for all projects when any project is hovered */
            z-index: 0;
        }
          
        .projects .project:hover {
            opacity: 1; /* Full opacity for the project under the mouse pointer */
            z-index: 1;
        }
        
    }

  
}


.sveika-gyvensena, .bendruomenes-projektai {
    &::before {
        background: transparent;
    }
}

.ataskaitos {
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 300px;
    color: var(--blue-dark);

    h3 {
        margin-bottom: 30px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        grid-auto-rows: 100px;
        align-items: center;
        border-bottom: 1px solid var(--blue-dark);
        padding-bottom: 10px;
        margin-bottom: 10px;

        h4 {
            width: 100%;
        }

        .icon {
       
            img {
                width: clamp(40px, 4vw, 81px);
            }
        }
      
    }
  
}


footer {
    color: var(--blue-extra-light) !important;
    margin-top: 150px;

    a {
        color: var(--blue-extra-light) !important;
    }

    .social {
        a:before {
            background: var(--blue-extra-light) !important;
        }
    }


    .copywrites {
        color: var(--blue-extra-light) !important;
        a {
            color: var(--blue-extra-light) !important;
            cursor: url("/icons/pointer-blue.svg"), pointer !important;

             &::before {

                background:  var(--blue-extra-light) !important;
            }
        }
    }
}

@media (max-width: 1600px) {
    .section-1 {
        .shape-1 {
            top: -100px;
        }
    }
}

@media (max-width: 1025px){
    .tech-education, .sveika-gyvensena, .bendruomenes-projektai {
        .content .projects {
            grid-template-columns: 200px 1fr;
            left: 0;
        }
    }
}

@media (max-width: 769px){
    .section-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 600px 825px;
        width: 100%;
  
        .shape-1 {
          height: 691px;
          width: 525px;
          left: auto;
          right: 200px;
  
          &::before {
              top: -2px;
              right: 49%;
              height: 100%;
              width: 100%;
              background: var(--blue-light);
              transform: rotate(-4deg);
          }
  
          &::after {
              display: none;
          }
  
          svg {
              display: none;
            }
        }
        
        .socialine-atsakomybe-mobile {
          background: url("/tvarumas/socialine-atsakomybe-mobile.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;      
          position: absolute;
          right: -200px;
        }

        .content {
            grid-column: 1;
            grid-row: 1;
            width: 90%;
            left: 0px;
            right: 0px;
            margin: 30px auto;
            transform: translate(0, 100px);
            
            .button {
                background: var(--dark-green);
                color: var(--green-light);
            }
          }
    } 


    .section-2  {
        display: flex;
        flex-direction: column;

        .content-bottom {
            width: 100%;
            color: var(--blue-dark);
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin: 100px 0;

            .icon {
                width: 45%;
            }

            .white-icon {
                color: var(--blue-dark);
                svg path {
                    fill: var(--blue-dark);
                }
            }

            .blue-icon {
                left: 0;
            }
        }

        .content-top {
            order: 2;
            color: var(--blue-dark);
            left: 0;
            width: 90%;
            margin: auto;
            flex-direction: column;

            p {
                top: 0px;
                max-width: 200px;
            }

            .swiper {
                width: 90vw;
                left: 0;
                top: 0;
                margin: 0;
            }
        }
    }


    .section-3 {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 50px auto;
        margin-top: -50px;
    }


    .tech-education, .sveika-gyvensena, .bendruomenes-projektai {

        &::before {
            background: transparent;
        }
        .content {
            .project-images .image-shape {
                display: none !important;
            }
            .projects {
                grid-template-columns: 1fr;
                left: 0;
                .left {
                    display: none;
                }
    
                .right {
                    width: 100%;
                }
            }
        }
    }

    .tech-education .content h2 {
        margin-top: -50px;
    }
    .ataskaitos {
        margin-top: 200px;
    }
}


@media (max-width: 426px){
    .section-1 {
      .shape-1 {
          height: 800px;
  
          &::before {
              top: -5px;
          }
        }
    }
}